img {
	max-width: 100%;
}
iframe {
	max-width: 100% !important;
}
@media (max-width: 768px) {
	.collapse {
		position: fixed;
		top: 0;
		left: 0;
		width: 70vw;
		background: var(--dark);
		bottom: 0;
		z-index: 9;
		transform: translateX(-100%);
		padding: 15px;
		visibility: hidden;
		display: block;
		transition: all .4s;
		&.show {
			transform: translateX(0);
			visibility: visible;
		}
	}
}