nav.navbar.navbar-expand-sm.navbar-dark.bg-success
    .container
        a.navbar-brand(href='#')
            img.d-inline-block.align-top(src='https://via.placeholder.com/158x42?text=logo', width='158', height='42', alt='logo')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.text-uppercase.active
                    a.font-weight-bold.nav-link(href='#')
                        | Trang chủ
                        span.sr-only (current)
                li.nav-item.text-uppercase
                    a.font-weight-bold.nav-link(href='#') Menu 1
                li.nav-item.text-uppercase
                    a.font-weight-bold.nav-link(href='#') Menu 2
                li.nav-item.text-uppercase
                    a.font-weight-bold.nav-link(href='#') Menu 3
                li.nav-item.text-uppercase
                    a.font-weight-bold.nav-link(href='#') Menu 4
