extends inc/_layout
block vars
    -var title = 'Home'
block content
    .home-visual
        img.w-100(src='https://via.placeholder.com/1508x402?text=visual')
    .video-block.bg-success(style='height:360px')
        iframe(width='560', height='315', src='https://www.youtube.com/embed/zdIRSsGLBHA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .home-block.m-3
        .container
            p.text-center
                b   our mission & goal
            h2.text-center
                | What is FXTRADING corporation?
            p.text-center
                | FXTRADING CORPORATION is a global company with many investors and entrepreneurs in the World. Already developed by a team of professionals currently in the field of FX and CRYPTOTRADING and they created the software. It also helps many investors make money from mining companies in various places around the world with the following coins. Bitcoin, Etherium, Bitcoin in cash, Litecoin, etc. Even if you do not have experience in this market, it is an opportunity to earn profits automatically and gain a lot of growth.
            p
                a(href='#', target='_blank')
                    img.m-auto.d-block(src='https://via.placeholder.com/730x425?text=video')
    .home-block.mt-5
        .container
            h2.text-center.text-success
                | EVENTS FXTRADING WORLDWIDE
            .row.mt-5
                .col-sm-4
                    a(href='#', target='_blank')
                        span.d-block.text-success.font-weight-bold Corporate Office in Busan South Korea
                        img.w-100(src='https://via.placeholder.com/300x200?text=video')
                .col-sm-4
                    a(href='#', target='_blank')
                        span.d-block.text-success.font-weight-bold Corporate Office in Busan South Korea
                        img.w-100(src='https://via.placeholder.com/300x200?text=video')
                .col-sm-4
                    a(href='#', target='_blank')
                        span.d-block.text-success.font-weight-bold Corporate Office in Busan South Korea
                        img.w-100(src='https://via.placeholder.com/300x200?text=video')
    .home-block.mt-5
        img.w-100(src='https://via.placeholder.com/1508x200?text=anh+gioi+thieu')
    .home-block.mt-5
        .container
            .row
                .col-sm-4.text-center
                    h3.text-success GOOD PROFITABILITY
                    p We support global citizens who want to harness the technological revolution of digital currency. We take highly sophisticated investment strategies that have historically only been accessible to institutions and a small number of high wealth individuals, and bring it to the masses.
                .col-sm-4.text-center
                    h3.text-success GOOD PROFITABILITY
                    p We support global citizens who want to harness the technological revolution of digital currency. We take highly sophisticated investment strategies that have historically only been accessible to institutions and a small number of high wealth individuals, and bring it to the masses.
                .col-sm-4.text-center
                    h3.text-success GOOD PROFITABILITY
                    p We support global citizens who want to harness the technological revolution of digital currency. We take highly sophisticated investment strategies that have historically only been accessible to institutions and a small number of high wealth individuals, and bring it to the masses.